[defaults]
callback_whitelist = profile_tasks

# This is required when controlling certain OSs (Ubuntu 14.04, but not 16.04)
# when the ssh user ansible is connecting to is not the root user.
# For details, see https://docs.ansible.com/ansible/become.html#becoming-an-unprivileged-user
# This will be resolved in ansible 2.2
allow_world_readable_tmpfiles=True

host_key_checking = False
