api_key: <Admin user API key from galaxy_instance>
galaxy_instance: <Galaxy instance IP>
tools:
- name: synapse_interface
  owner: kellrott
  tool_panel_section_id: peak_calling
  tool_shed_url: https://testtoolshed.g2.bx.psu.edu
- name: add_value
  owner: devteam
  tool_panel_section_id: textutil
  tool_shed_url: https://toolshed.g2.bx.psu.edu
